.carousel {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: 1400px; /* Set a maximum width for the carousel */
  justify-items: center;
  margin-top: 80px;
}

.carousel-slide {
  justify-self: flex-end;
  align-self: center;
  display: flex;
  flex-direction: row; /* Stack title, description, and image vertically */
  align-items: center; /* Center align items */
  position: relative;
  max-height: 1000px; /* Set a maximum height for the slide */
  max-width: 1200px; /* Set a maximum height for the slide */
}

.carousel-image {
  width: 100%; /* Full width */
  max-height: 1000px; /* Set a maximum height */
  min-height: 1000px; /* Set a maximum height */
  min-width: 1200px;
  max-width: 1200px;
  height: auto; /* Maintain aspect ratio */
  object-fit: cover; /* Cover the area */
  object-fit: cover;
}

.carousel-dots {
  position: absolute; /* Position dots inside the image */
  bottom: 10px; /* Adjust as needed */
  left: 12%;
  transform: translateX(-50%); /* Center the dots */
  display: flex;
  gap: 5px; /* Space between dots */
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 1px;
  background-color: #bcc0c7;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: white; /* Change color for active dot */
}

.carousel-title{
  color: white;
  position: absolute;
  bottom: 20px;
  left: 2.5%;
  /* margin-top: -30px; */
  letter-spacing: 2px;
  font-size: 2.3rem;
  text-align: justify;
}

.carousel-title:hover{
  cursor: pointer;
  text-decoration: underline white; /* Sublinhado vermelho */
}

.carousel-description {
  margin-top: 23px;
  max-width: 600px;
  min-width: 600px;
  text-align: justify;
  line-height: 23px;
  letter-spacing: 2px;
  text-align: justify;
}

.text-carousel-wrapper {
  height: 700px;
}

.arrow {
  position: absolute; /* Position arrows inside the image */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust for vertical centering */
  color: white; /* Arrow color */
  border: none; /* Remove default button styles */
  cursor: pointer; /* Pointer cursor on hover */
  padding: 20px; /* Increase padding for larger clickable area */
  border-radius: 50%; /* Round shape */
  z-index: 10; /* Ensure arrows are above the image */
  width: 44px; /* Increase width */
  height: 44px; /* Increase height */
  font-size: 28px; /* Increase font size for the arrow icon */
}

.left-arrow {
  left: 10px; /* Position on the left */
}

.right-arrow {
  right: 10px; /* Position on the right */
}