.navbar {
  position: absolute;
  top: 200px;
  left: 20px;
  padding: 20px;
  z-index: 100; /* Valor menor que o modal */
  font-size: 3.5rem;
  font-family: 'HelveticaNeueLight', sans-serif;
  color: inherit;
  opacity: 1;
}
 
 .navList {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }
 
 .navItem {
   position: relative;
 }
 .navbarContainer {
  width: 30%;
}

 .logoTitle {
  font-size: 3.5rem;
  margin-left: 40px;
  font-family: 'HelveticaNeueBold', sans-serif;
  font-weight: 800;
  margin-top: 20px;
  cursor: pointer;
}

 .navItem > a,
 .subItems a {
   text-decoration: none;
   display: inline-block;
   position: relative;
 }

 .span-subitem{
  left: calc(18.5ch + 10px) !important;
 }
 
 .navItem > a::after,
 .subItems a::after {
   content: '';
   position: absolute;
   width: 100%;
   height: var(--underline-height, 3px);
   bottom: 5px;
   left: 0;
   background-color: currentColor;
   visibility: hidden;
   /* transform: scaleX(0); */
 }
 
 .navItem > a:hover::after,
 .subItems a:hover::after,
 .navItem > a.active::after,
 .subItems a.active::after {
   visibility: visible;
   /* transform: scaleX(1); */
 }
 
 .parentItem::after {
   height: var(--underline-height, 2px) !important;
 }
 
 .childItem::after {
   height: var(--underline-height, 2px) !important;
 }
 
 .subItems {
   max-height: none;
   overflow: visible;
   white-space: nowrap;
   font-size: 2rem;
   position: relative;
   display: flex;
   flex-direction: column;
 }
 
 .navItem.active .subItems {
   max-height: none;
 }
 
 .subItems span {
   display: inline-block;
   margin-right: 10px;
   position: relative;
 }
 
 .subItems a {
   border-radius: 3px;
   /* transition: background-color 0.3s ease, color 0.3s ease; */
 }
 
 .comma {
   margin-right: 5px;
 }
 
 .visible {
   opacity: 1;
   pointer-events: auto;
   transition: opacity 0.5s ease-in-out; /* Add transition */
 }
 
 .hidden {
   opacity: 0;
   pointer-events: none;
   transition: opacity 0.5s ease-in-out; /* Add transition */
 }
 
 .nestedItems {
   display: flex;
   flex-direction: column;
   position: relative;
   font-size: 1rem;
   margin-top: 5px;
   left: calc(13.5ch + 10px);
 }

/* Dynamic left positioning based on data-parent attribute */
.nestedItems[data-parent="People,"]
{
  left: calc(13.5ch + 10px);
}

.nestedItems[data-parent="Media"] {
  left: calc(27.0ch + 10px);
}

.nestedItems[data-parent="A-Z,"] {
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



 .nestedItems a::after {
   content: '';
   position: absolute;
   width: 100%;
   height: var(--underline-height, 1px);
   bottom: -0.1px;
   left: 0;
   background-color: currentColor;
   visibility: hidden;
 }
 
 .nestedItems a {
   display: inline-block;
   width: fit-content;
 }
 
 .nestedItems a:hover::after,
 .nestedItems a.active::after {
   visibility: visible;
 }

/* Ensure nested items are visible when parent is active */
.navItem.active .nestedItems {
  display: flex;
  opacity: 1;
  visibility: visible;
}