.container {
  padding-top: 4rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  max-width: 2000px;
  top: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: flex-start;
}

.personCard {
  flex: 0 0 auto;
  margin-bottom: 2rem;
}

.imageWrapper {
  width: 250px;
  height: 200px;
  overflow: hidden;
}

.name {
  margin-top: 0.5rem;
  text-align: center;
  color: black;
  font-size: 1rem;
}

/* Media Queries for different screen sizes */
@media (max-width: 1600px) {
  .grid {
    gap: 1.5rem;
  }
}

@media (max-width: 1200px) {
  .container {
  }
}

@media (max-width: 768px) {
  .container {
  }
} 